name: CI

on:
  push:

env:
  GO_VERSION: 1.24
  PY_VERSION: 3.12
  GOLANGCI_LINT_VERSION: v2.1.6

jobs:
  lint-commit:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: lint commit messages
        uses: opensource-nepal/commitlint@v1


  lint-go:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: lint go
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}


  lint-python:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PY_VERSION }}

      - name: setup poetry
        uses: Gr1N/setup-poetry@v9

      - run: poetry install

      - name: lint python
        run: |
          poetry run black features --check
          poetry run pylint features


  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: unit test
        run: go test -v ./...


  functional-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: build
        run: go build

      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PY_VERSION }}

      - name: setup poetry
        uses: Gr1N/setup-poetry@v9

      - run: poetry install

      - name: functional test
        env:
          TEST_REPO_TOKEN: ${{ secrets.TEST_REPO_TOKEN }}
        run: poetry run behave -t ~@ssh

  release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: [lint-commit, lint-go, lint-python, unit-test, functional-test]
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: checkout code
        uses: actions/checkout@v6
        with:
          fetch-tags: true

      - name: semantic-release
        uses: ahmadnassri/action-semantic-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.STENCILER_RELEASE_TOKEN }}
